seznam-pocitadlolibise { /* Defaults: layout=seamless, size=small */
  display: inline-block;

  min-width: 100px;
  height: 20px;
}

seznam-pocitadlolibise[size='minimalistic'] {
  min-width: 40px;
}

seznam-pocitadlolibise[layout='button_count'] {
  height: 28px;
}

seznam-pocitadlolibise[layout='box_count'] {
  height: 40px;
}

seznam-pocitadlolibise[layout='box_count'][size='large'] {
  height: 58px;
}

/* Placeholder support */

seznam-pocitadlolibise > * {
  display: inline-block;

  width: 100%;
  height: 100%;
}

seznam-pocitadlolibise > *::before {
  display: block;

  position: relative;
  top: 25%;

  width: 100%;
  height: 50%;

  content: '';

  background-color: currentColor;
  background-color: var(--placeholder-color, currentColor);
}
